body {
    max-width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(#D3AE47,#e36255);
    font-size: 20px;
}

header {
    background-color: yellow;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    font-size:20px;
    letter-spacing: 1px;
}
p:first {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: hotpink;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
a:hover{
    color: purple;
}
a:visited {
    color: darkcyan;
}


q {
    width: 50%;
    text-size-adjust: 160%;
    background-color: lightgrey;
    border-left: solid 3px firebrick;
    padding-left: 30px;
    font-style: italic;
}
.farmer {
    border-left: solid 3px green; 
}
.villagers {
    border-left: solid 3px yellow;
}

blockquote{
    margin: 80px auto;
}

.good {
    color: green;
}
.bad {
    color: red;
}
.bad, .good {
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: lightgray;
}
tr {
    background-color: white;
}

li:first-child {
    background: url(./assets/bien.png) no-repeat right;
}

img {
    float: left;
    margin: 10px 2em;
}