body {
    max-width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(#D3AE47,#e36255);

}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    font-size: 15px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: hotpink;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
a:hover{
    color: purple;
}
a:visited {
    color: darkcyan;
}

q {
    width: 50%;
    text-size-adjust: 160%;
    background-color: lightgrey;
    border-left: solid 3px firebrick;
    padding-left: 30px;
    font-style: italic;
}
.farmer {
    border-left: solid 3px green; 
}
.villagers {
    border-left: solid 3px yellow;
}

blockquote{
    margin: 80px auto;
}