body {
    max-width: 90%;
    margin: 0 auto;
    background-image: url(./assets/bg.avif), linear-gradient(#95E9FB,#E742CF);
    background-size: cover,cover;
    background-repeat: no-repeat, no-repeat;
    font-size: 20px;
}

header {
    background-color: yellow;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    font-size:20px;
    letter-spacing: 1px;
}
p.nature {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: hotpink;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}
a:hover{
    color: purple;
}
a:visited {
    color: darkcyan;
}


q {
    width: 50%;
    text-size-adjust: 160%;
    background-color: lightgrey;
    border-left: solid 3px firebrick;
    padding-left: 30px;
    font-style: italic;
}
.farmer {
    border-left: solid 3px green; 
}
.villagers {
    border-left: solid 3px yellow;
}

blockquote{
    margin: 80px auto;
}

.good {
    color: green;
}
.bad {
    color: red;
}
.bad, .good {
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: lightgray;
}
tr {
    background-color: white;
}

li:first-child {
    background: url(./assets/bien.png) no-repeat;
    background-size: 20px;
    padding-left: 25px;
}
li:nth-child(2){
    background: url(./assets/mal.png) no-repeat;
    background-size: 20px;
    padding-left: 25px;
}
li:nth-child(3){
    background: url(./assets/chat.png) no-repeat;
    background-size: 20px;
    padding-left: 25px;
}

img {
    float: left;
    margin: 10px 2em;
}